<head>
    <h1>Astronomers</h1>
</head>

<body>

<main>
<table id=:"astronomers-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Social Media Handle</th>
            <th>delete</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.astronomer_id}}>
            <td>{{this.astronomer_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.social_media_handle}}</td>
            <td><button onclick="deleteAstronomer({{this.astronomer_id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_astronomer.js"></script>

<h2>Search for an Astronmer</h2>
<p>Search via keyword in First Name, Last Name, Email, or Social Media</p>
<form id="search-astronomers-html" method='GET' action='/astronomers'>
    <label for="input-first-name">Search: </label>
    <input type="text" name="first_name" id="input-astronomer-html-search">
    
    <input type="submit">
    <a href='/astronomers'><button>Reset</button></a>
</form>

<hr style="margin-top: 2.5em" size="3" width="75%" color="black">

<h2>Add a New Astronomer:</h2>
<p>Fill out the new the information below and click 'Submit'!</p>
<form id="add-astronomer-form" method="POST" action="/add-astronomer">
    <label for="input-first-name">First name:</label>
    <input type="text" name="input-first-name" id="input-first-name">

    <label for="input-last-name">Last name:</label>
    <input type="text" name="input-last-name" id="input-last-name">

    <label for="input-email">Email:</label>
    <input type="text" name="input-email" id="input-email">

    <label for="input-social-media-handle">Social Media Handle:</label>
    <input type="text" name="input-social-media-handle" id="input-social-media-handle">

    <input type="submit">
</form>

<hr style="margin-top: 2.5em" size="3" width="75%" color="black">

<h2>Update an Astronomer</h2>
<p>To update a specific astronomer, select their name from the drop-down menu</p>
<form id="update-astronomer-form">

    <label for="input-fullname">Select an Astronomer: </label>
    <select name="input-fullname" id="mySelect">
        <option value="test">ID, Full name</option>
        {{#each data}}
        <option value="{{this.astronomer_id}}">{{this.astronomer_id}}, {{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>

    <label for="update-first-name">First Name: </label>
    <input type="text" name="update-first-name" id="update-first-name">

    <label for="update-last-name">Last Name: </label>
    <input type="text" name="update-last-name" id="update-last-name">

    <label for="update-email">Email: </label>
    <input type="text" name="update-email" id="update-email">
    
    <label for="update-social-media-handle">Social Media Handle: </label>
    <input type="text" name="update-social-media-handle" id="update-social-media-handle">
    
    <input type="submit">
</form>
<script src="./js/update_astronomer.js"></script>
</main>



</body>