<!DOCTYPE html>
<html lang="en">
<table id="astronomer-sales-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.astronomer_id}}</td>
            <td>{{this.sale_id}}</td>
            <td>{{this.profit_due}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Add Astronomer Sale:</h2>
<p>To add a new Astronomer Sale, please enter the information below and click 'Submit'!</p>
<form id="add-astrnomer-sale-form" method="POST" action="/add-astronomer-sale">
    <label for="input-astronomer-id">Astronomer ID:</label>
    <select name="input-astronomer-id" id="input-astronomer-id">
        <option value="">Select an Astronomer ID:</option>
        {{#each sales}}
        <option value="{{this.astronomer_id}}">{{this.astronomer_id}}</option>
        {{/each}}
    </select>
    
    <label for="input-sale-id">Sale ID: </label>
    <select name="input-sale-id" id="input-sale-id">
        <option value="">Select a Sale ID:</option>
        {{#each sales}}
        <option value="{{this.sale_id}}">{{this.sale_id}}</option>
        {{/each}}
    </select>

    <label for="input-profit-due">Profit Due:</label>
    <input type="number" name="input-profit-due" id="input-profit-due">

    <input type="submit">
</form>

<h2>Search Astronomer Sales</h2>
<p>Search by Astronomer ID using the field below.</p>
<form id="search-astronomer-sale-html" method='GET' action='/astronomer_sales'>
    <label for="input-astronomer-id">Search by Astronomer ID: </label>
    <input type="number" name="astronomer_id" id="input-astronomer-id-html-search">
    
    <input type="submit">
    <a href='/astronomer_sales'><button>Reset</button></a>
</form>