<!-- index.hbs -->
<h1>Welcome to the Galaxy Gazers Home Page!</h1>

<table id="astronomer-sales-table">

    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.astronomer_id}}</td>
            <td>{{this.sale_id}}</td>
            <td>{{this.profit_due}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Adding Data with AJAX</h2>
<p>To add a new person, please enter their information below and click 'Submit'!</p>
<form id="add-astronomer-sale-form-ajax">
    <label for="input-astronomer-id">Astronomer ID: </label>
    <select name="input-astronomer" id="input-astronomer-ajax">
        <option value="">Select an astronomer</option>
        {{#each astronomers}}
        <option value="{{this.id}}">{{this.first_name}}</option>
        {{/each}}
    </select>
    
    <label for="input-sale-id">Sale ID: </label>
    <input type="number" name="input-sale-id" id="input-sale-id">

    <label for="input-profit-due">Profit Due: </label>
    <input type="number" name="input-profit-due" id="input-profit-due">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_astronomer_sale.js"></script>