<!-- index.hbs -->
<h1>Welcome to the Galaxy Gazers Home Page!</h1>

<a target="blank" href="./astronomers">Astronomers</a>
<table>

    <thead>

        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.astronomer_id}}</td>
            <td>{{this.first_name}}</td>
            <td>{{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.social_media}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>