<table>
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.print_id}}</td>
            <td>{{this.num_stock}}</td>
            <td>{{this.astronomer_id}}</td>
            <td>{{this.object_id}}</td>
            <td>{{this.price}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>