<table>
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.print_id}}</td>
            <td>{{this.sale_id}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.print_price}}</td>
            <td>{{this.line_total}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>