<head>
    <title>Print Sales</title>
</head>

<body>
<h1>Print Sales</h1>
<main>
<table>
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.print_id}}</td>
            <td>{{this.sale_id}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.print_price}}</td>
            <td>{{this.line_total}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</main>

<div> <!--Footer -->
  <footer>
    Created by William Franklin and Nathaniel DeShazer
  </footer>
<div>

</body>