{{! CITATION:
DATE: 12/5/2022
Adapted: nodejs-starter-app
SCOPE: module
URL: github/osu-cs340-ecampus/nodejs-starter-app
}}
<head>
    <h1>Sales</h1>
</head>

<body>

<main>
<table id=:"sales-table">
    <thead>
        <tr>
            <th>Sale ID</th>
            <th>Customer ID</th>
            <th>Value of Sale</th>
            <th>Date of Sale</th>

        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.sale_id}}>
            <td>{{this.sale_id}}</td>
            <td>{{this.customer_id}}</td>
            <td>{{this.value}}</td>
            <td>{{this.date}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Search for a Sale</h2>
<p>Search by date</p>
<form id="search-sales-html" method='GET' action='/sales'>
    <label for="sale-date">Search: </label>
    <input type="date" name="date" id="sale-search"
        value="2022-12-6">
    
    <input type="submit">
    <a href='/sales'><button>Reset</button></a>
</form>

<h2>Add a New Sale:</h2>
<p>Fill out the new the information below and click 'Submit'!</p>
<form id="add-sale-form" method="POST" action="/add-sale">
    <label for="input-customer-id">Customer ID:</label>
    <input type="number" name="input-customer-id" id="input-customer-id">

    <label for="input-value">Value:</label>
    <input type="currency" name="input-value" id="input-value">

    <label for="input-date">Date:</label>
    <input type="date" name="input-date" id="input-date">

    <input type="submit">
</form>
</main>
</body>